* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.piano {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.white {
    width: 7%;
    min-width: 60px;
    height: 70%;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.black {
    width: 6%;
    height: 45%;
    margin-left: -3%;
    margin-right: -3%;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.white.active {
    background-color: #ccc;
}

.black.active {
    background-color: rgb(235, 91, 91);
}

.endGame {
    background-color: red;
}